
.idea/modules.xml

.idea/open-cx-t2g3-them-d.iml

.idea/vcs.xml

.idea/workspace.xml

.idea/

smartcon_app/android/app/google-services.json

smartcon_app/android/gradle/

smartcon_app/.vscode/

.vscode/
